<% if (page.categories && page.categories.length > 0){ %>
    <%
        var cats = [];
        page.categories.forEach(function (cat) {
            cats.push('<a class="breadcrumb" href="' + config.root + cat.path + '">' + cat.name + '</a>');
        });
    %>

    <%- cats.join('') %>
<% } %>
