<header class="note-width z-10 mx-auto">
    <div class="flex flex-row justify-between md:justify-start items-center p-3 md:py-5">
        <%- partial('_partial/index/logo', {icon: true}) %>
    </div>
</header>