<a href="/" class="flex font-medium items-center justify-center md:justify-start text-slate-800 dark:text-slate-300">
    <% if (icon) { %>
        <div class="hidden md:flex justify-center w-10 h-10 md:w-12 md:h-12 text-white p-2 bg-emerald-500 rounded-full mr-3 text-2xl">
            <div class="self-center">
                <%- icon("logo") %>
            </div>
        </div>
    <% } %>
    <span class="domain text-slate-600 dark:text-slate-300 text-lg md:text-2xl">CheatSheets<span class="text-emerald-400">.zip</span></span>
</a>
<% if (page.layout == "note" || page._isNotePagination){ %>
    <a class="hidden md:block" href="/notes/">
        <span class="flex items-center pl-2 ml-2 text-lg text-slate-600 md:border-l border-slate-400 dark:border-slate-700">Notes</span>
    </a>
<% } %>
