#mysearch {
  animation-duration: 200ms;
  animation-name: fade-in;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#mysearch-box {
  animation: 200ms cubic-bezier(0, 0, 0.2, 1) 0s 1 normal both running openAnimation;
}

#mysearch em {
  font-style: normal;
  color: rgb(99 102 241);
}

.text-color-inherit {
  color: inherit;
}

@media (width >= 1200px) {
  .xl\:max-h-832 {
    max-height: 800px;
  }
}

#mysearch-list li.inactive {
  border-color: rgb(226 232 240);
}

#mysearch-list li.inactive > a.link {
  background-color: transparent;
  color: rgb(15 23 42);
}

#mysearch-list li.inactive .icon-enter {
  display: none;
}

#mysearch-list li.inactive i.icon,
#mysearch-list li.inactive .sub-intro {
  color: rgb(148 163 184);
}

#mysearch-list li.active {
  z-index: 10;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

#mysearch-list li.active > a {
  background-color: rgb(99 102 241);
  color: rgb(255 255 255);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px -1px rgb(0 0 0 / 10%);
}

#mysearch-list li.active em {
  color: inherit;
  text-decoration-line: underline;
}

#mysearch-list li.active .icon-enter {
  display: block;
}

#mysearch-list li.active i.icon,
#mysearch-list li.active .sub-intro {
  color: rgb(255 255 255);
}

/* Ensure search result items have no fade-in animation */
#mysearch-list li {
  animation: none !important;
  transition:
    background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}
