@font-face {
  font-family: "icon"; /* Project id 2226430 */
  src: url('//at.alicdn.com/t/c/font_2226430_1gzd7ua42v7.woff2?1669773269') format('woff2'),
       url('//at.alicdn.com/t/c/font_2226430_1gzd7ua42v7.woff?1669773269') format('woff'),
       url('//at.alicdn.com/t/c/font_2226430_1gzd7ua42v7.ttf?1669773269') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-placeholder:before {
  content: "\e6a7";
}

.icon-unity:before {
  content: "\ec29";
}

.icon-pm2:before {
  content: "\e61f";
}

.icon-heart:before {
  content: "\f16e";
}

.icon-arrow:before {
  content: "\e614";
}

.icon-share:before {
  content: "\e66e";
}

.icon-shopify:before {
  content: "\ec1e";
}

.icon-outlook:before {
  content: "\e653";
}

.icon-asana:before {
  content: "\e67b";
}

.icon-apple-music:before {
  content: "\e733";
}

.icon-slack:before {
  content: "\e87b";
}

.icon-youtube:before {
  content: "\e883";
}

.icon-bitbucket:before {
  content: "\f16d";
}

.icon-figma:before {
  content: "\e6e5";
}

.icon-1password:before {
  content: "\eb31";
}

.icon-airtable:before {
  content: "\eb37";
}

.icon-arduino:before {
  content: "\eb42";
}

.icon-filezilla:before {
  content: "\eb91";
}

.icon-postman:before {
  content: "\ec5e";
}

.icon-sketch:before {
  content: "\ec9e";
}

.icon-sublime-text:before {
  content: "\eccd";
}

.icon-todoist:before {
  content: "\ecde";
}

.icon-phpstorm:before {
  content: "\e615";
}

.icon-sketchup:before {
  content: "\e613";
}

.icon-soundcloud:before {
  content: "\e68d";
}

.icon-microsoft-teams:before {
  content: "\e6fa";
}

.icon-zoom:before {
  content: "\e701";
}

.icon-principle:before {
  content: "\e8c5";
}

.icon-jira:before {
  content: "\ec0b";
}

.icon-adobe-lightroom:before {
  content: "\e69e";
}

.icon-adobe-photoshop:before {
  content: "\e617";
}

.icon-adobe-xd:before {
  content: "\e618";
}

.icon-google-drive:before {
  content: "\e735";
}

.icon-skype:before {
  content: "\e841";
}

.icon-wordpress:before {
  content: "\e8de";
}

.icon-finder:before {
  content: "\e6ea";
}

.icon-blender:before {
  content: "\e6a1";
}

.icon-firefox:before {
  content: "\e6f9";
}

.icon-gitlab:before {
  content: "\e719";
}

.icon-spotify:before {
  content: "\e807";
}

.icon-chrome:before {
  content: "\e659";
}

.icon-telegram:before {
  content: "\e715";
}

.icon-trello:before {
  content: "\e728";
}

.icon-android-studio:before {
  content: "\e619";
}

.icon-vlc:before {
  content: "\e924";
}

.icon-pocket:before {
  content: "\e611";
}

.icon-gmail:before {
  content: "\e61e";
}

.icon-feedly:before {
  content: "\e62e";
}

.icon-star:before {
  content: "\f0d4";
}

.icon-rust:before {
  content: "\e685";
}

.icon-add:before {
  content: "\e64d";
}

.icon-dark:before {
  content: "\e62c";
}

.icon-light:before {
  content: "\e861";
}

.icon-cs:before {
  content: "\e61d";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-laravel:before {
  content: "\e6f8";
}

.icon-dart:before {
  content: "\e63f";
}

.icon-neo4j:before {
  content: "\e610";
}

.icon-html:before {
  content: "\eac6";
}

.icon-graphql:before {
  content: "\e60c";
}

.icon-pycharm:before {
  content: "\e60d";
}

.icon-idea:before {
  content: "\ebd1";
}

.icon-webstorm:before {
  content: "\ed0c";
}

.icon-vscode1:before {
  content: "\e6b8";
}

.icon-breadcrumb-arrow:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e7ea";
}

.icon-permission:before {
  content: "\ed3f";
}

.icon-cpp:before {
  content: "\e638";
}

.icon-java:before {
  content: "\e623";
}

.icon-tmux:before {
  content: "\e60a";
}

.icon-netstat:before {
  content: "\e609";
}

.icon-postgres:before {
  content: "\ec5d";
}

.icon-pinterest:before {
  content: "\e602";
}

.icon-logo:before {
  content: "\e604";
}

.icon-docker:before {
  content: "\e616";
}

.icon-yaml:before {
  content: "\e608";
}

.icon-toml:before {
  content: "\e607";
}

.icon-sed:before {
  content: "\e8a6";
}

.icon-resolution:before {
  content: "\e67a";
}

.icon-redis:before {
  content: "\e669";
}

.icon-css:before {
  content: "\e684";
}

.icon-jquery:before {
  content: "\ebdd";
}

.icon-netcat:before {
  content: "\e606";
}

.icon-numpy:before {
  content: "\e605";
}

.icon-mitmproxy:before {
  content: "\e600";
}

.icon-grep:before {
  content: "\e73d";
}

.icon-jsonpath:before {
  content: "\e628";
}

.icon-sass:before {
  content: "\e622";
}

.icon-emacs:before {
  content: "\e64f";
}

.icon-cron:before {
  content: "\e742";
}

.icon-git:before {
  content: "\e61c";
}

.icon-emoji:before {
  content: "\e658";
}

.icon-emmet:before {
  content: "\e603";
}

.icon-enter:before {
  content: "\e691";
}

.icon-php:before {
  content: "\e61b";
}

.icon-json:before {
  content: "\e6a5";
}

.icon-ejs:before {
  content: "\e63a";
}

.icon-haml:before {
  content: "\e647";
}

.icon-jade:before {
  content: "\e656";
}

.icon-style:before {
  content: "\ed3e";
}

.icon-nginx:before {
  content: "\e640";
}

.icon-xml:before {
  content: "\e760";
}

.icon-ansible:before {
  content: "\e601";
}

.icon-npm:before {
  content: "\e687";
}

.icon-markdown:before {
  content: "\e92f";
}

.icon-react:before {
  content: "\ea6c";
}

.icon-mysql:before {
  content: "\e646";
}

.icon-atom:before {
  content: "\e6d2";
}

.icon-golang:before {
  content: "\e641";
}

.icon-vscode:before {
  content: "\e60e";
}

.icon-es6:before {
  content: "\e671";
}

.icon-css3:before {
  content: "\e60f";
}

.icon-html5:before {
  content: "\e6e0";
}

.icon-xpath:before {
  content: "\e612";
}

.icon-vim:before {
  content: "\ecd1";
}

.icon-bash:before {
  content: "\e654";
}

.icon-javascript:before {
  content: "\e756";
}

.icon-pandas:before {
  content: "\e61a";
}

.icon-github:before {
  content: "\e67c";
}

.icon-vue:before {
  content: "\e674";
}

.icon-python:before {
  content: "\e690";
}

.icon-regex:before {
  content: "\e6b9";
}

.icon-arrow-up:before {
  content: "\e62d";
}

.icon-excel:before {
  content: "\e63b";
}

.icon-facebook:before {
  content: "\e695";
}

.icon-linkedin:before {
  content: "\e696";
}

.icon-reddit:before {
  content: "\e698";
}

.icon-twitter:before {
  content: "\e69b";
}

.icon-print:before {
  content: "\e69d";
}

.icon-edit:before {
  content: "\e6d1";
}

.icon-pdf:before {
  content: "\e784";
}

.icon-link:before {
  content: "\e7cc";
}

.icon-image:before {
  content: "\e7e2";
}

