@font-face {
  font-family: "icon"; /* Project id 2226430 */
  src: url('//at.alicdn.com/t/c/font_2226430_2mo75parafn.woff2?1668928635') format('woff2'),
       url('//at.alicdn.com/t/c/font_2226430_2mo75parafn.woff?1668928635') format('woff'),
       url('//at.alicdn.com/t/c/font_2226430_2mo75parafn.ttf?1668928635') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\f0d4";
}

.icon-rust:before {
  content: "\e685";
}

.icon-add:before {
  content: "\e64d";
}

.icon-dark:before {
  content: "\e62c";
}

.icon-light:before {
  content: "\e861";
}

.icon-cs:before {
  content: "\e61d";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-laravel:before {
  content: "\e6f8";
}

.icon-dart:before {
  content: "\e63f";
}

.icon-neo4j:before {
  content: "\e610";
}

.icon-html:before {
  content: "\eac6";
}

.icon-graphql:before {
  content: "\e60c";
}

.icon-pycharm:before {
  content: "\e60d";
}

.icon-idea:before {
  content: "\ebd1";
}

.icon-webstorm:before {
  content: "\ed0c";
}

.icon-vscode1:before {
  content: "\e6b8";
}

.icon-breadcrumb-arrow:before {
  content: "\e60b";
}

.icon-search:before {
  content: "\e7ea";
}

.icon-heart:before {
  content: "\e66a";
}

.icon-permission:before {
  content: "\ed3f";
}

.icon-cpp:before {
  content: "\e638";
}

.icon-java:before {
  content: "\e623";
}

.icon-tmux:before {
  content: "\e60a";
}

.icon-netstat:before {
  content: "\e609";
}

.icon-postgres:before {
  content: "\ec5d";
}

.icon-pinterest:before {
  content: "\e602";
}

.icon-logo:before {
  content: "\e604";
}

.icon-docker:before {
  content: "\e616";
}

.icon-yaml:before {
  content: "\e608";
}

.icon-toml:before {
  content: "\e607";
}

.icon-sed:before {
  content: "\e8a6";
}

.icon-resolution:before {
  content: "\e67a";
}

.icon-redis:before {
  content: "\e669";
}

.icon-css:before {
  content: "\e684";
}

.icon-jquery:before {
  content: "\ebdd";
}

.icon-netcat:before {
  content: "\e606";
}

.icon-numpy:before {
  content: "\e605";
}

.icon-mitmproxy:before {
  content: "\e600";
}

.icon-grep:before {
  content: "\e73d";
}

.icon-jsonpath:before {
  content: "\e628";
}

.icon-sass:before {
  content: "\e622";
}

.icon-emacs:before {
  content: "\e64f";
}

.icon-cron:before {
  content: "\e742";
}

.icon-git:before {
  content: "\e61c";
}

.icon-emoji:before {
  content: "\e658";
}

.icon-emmet:before {
  content: "\e603";
}

.icon-enter:before {
  content: "\e691";
}

.icon-php:before {
  content: "\e61b";
}

.icon-json:before {
  content: "\e6a5";
}

.icon-ejs:before {
  content: "\e63a";
}

.icon-haml:before {
  content: "\e647";
}

.icon-jade:before {
  content: "\e656";
}

.icon-style:before {
  content: "\ed3e";
}

.icon-nginx:before {
  content: "\e640";
}

.icon-xml:before {
  content: "\e760";
}

.icon-ansible:before {
  content: "\e601";
}

.icon-npm:before {
  content: "\e687";
}

.icon-markdown:before {
  content: "\e92f";
}

.icon-react:before {
  content: "\ea6c";
}

.icon-mysql:before {
  content: "\e646";
}

.icon-atom:before {
  content: "\e6d2";
}

.icon-golang:before {
  content: "\e641";
}

.icon-vscode:before {
  content: "\e60e";
}

.icon-es6:before {
  content: "\e671";
}

.icon-css3:before {
  content: "\e60f";
}

.icon-html5:before {
  content: "\e6e0";
}

.icon-xpath:before {
  content: "\e612";
}

.icon-vim:before {
  content: "\ecd1";
}

.icon-bash:before {
  content: "\e654";
}

.icon-javascript:before {
  content: "\e756";
}

.icon-pandas:before {
  content: "\e61a";
}

.icon-github:before {
  content: "\e67c";
}

.icon-vue:before {
  content: "\e674";
}

.icon-python:before {
  content: "\e690";
}

.icon-regex:before {
  content: "\e6b9";
}

.icon-arrow-up:before {
  content: "\e62d";
}

.icon-excel:before {
  content: "\e63b";
}

.icon-facebook:before {
  content: "\e695";
}

.icon-linkedin:before {
  content: "\e696";
}

.icon-reddit:before {
  content: "\e698";
}

.icon-twitter:before {
  content: "\e69b";
}

.icon-print:before {
  content: "\e69d";
}

.icon-edit:before {
  content: "\e6d1";
}

.icon-pdf:before {
  content: "\e784";
}

.icon-link:before {
  content: "\e7cc";
}

.icon-image:before {
  content: "\e7e2";
}

